:root {
    --color-background: #e11364;
    --color-secondary: #bc105c;
    --color-tertiary: #fafafb;
}


body {
    background-color: var(--color-background);
    margin:0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.first-page {
    display: flex;
    background-color: var(--color-secondary);
    justify-content: center;
    align-items: center;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-radius: 2px;
    color: white;
    height: 70px;
    font-size: 45px;
    max-width: 84.4%;
    margin: 30px auto;


}

.contenedor{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    justify-content: center;
    align-items: center;
    border-radius:2px ;
    background-color: var(--color-secondary);
    padding-bottom: 40px;
    margin: auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.card h2{
    align-self: flex-start;
    margin: 20px 20px 0;
    color: white;
}

.cards{
    display: flex;
    background-color: #fafafb;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98%;
    border-radius: 3px;
    margin-top: 25px;

}

.cards h3{
    display: flex;
    justify-content: flex-end;
    margin:25px 20px 10px ;
    color: var(--color-secondary);
    width: 98%;
    border-bottom: var(--color-secondary) dotted 2px;
}

.img-game {
    
    
    width: 98%;
    border-radius: 2px;
}

.text{
    width: 98%;
    font-weight: 400;

}

.btn-buy{
    padding: 8px 14px;
    background-color: rgb(29, 176, 29);
    border-radius: 4px;
    color: white;
    margin:0px auto 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;

}   


footer {
   background-color: #e96093; 
   max-width: 85%;
   display: flex;
   flex-direction: column;
   max-width: 85%;
   justify-content: center;
   align-items: center;
   border-radius:3px ;
   padding: 15px 0;
   margin:15px auto;
   color: white;
   
}

/*       MARIO KART PAGINA     */


.first-page-mario{
    display: flex;
    background-color: var(--color-secondary);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-radius: 2px;
    color: white;
    font-size: 45px;
    margin: 30px auto;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 70%;
    

}

.card-mario{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    justify-content: center;
    align-items: center;
    border-radius:2px ;
    background-color: var(--color-secondary);
    margin: 15px auto;
    
}

.cards-mario{
    display: flex;
    background-color: #fafafb;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98%;
    border-radius: 3px;
    margin:10px
}

.cards-mario img{
    width: 98%;
    border-radius: 2px;
    margin: 10px;
}


.btn-back {
    padding: 8px 14px;
    background-color: var(--color-secondary);
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    margin:10px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
}


/*       MORTAL COMBATTTTTTTTTTTTTTTTTTTTTT */


.first-page-mortal{
    display: flex;
    background-color: var(--color-secondary);
    justify-content: center;
    align-items: center;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-radius: 2px;
    color: white;
    font-size: 45px;
    max-width: 84.4%;
    margin: 30px auto;
    letter-spacing: 3px;
    max-width: 70%;
    text-transform: uppercase;
    text-align: center;

}

.card-mortal{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    justify-content: center;
    align-items: center;
    border-radius:2px ;
    background-color: var(--color-secondary);
    margin: 15px auto;
    
}

.cards-mortal{
    display: flex;
    background-color: #fafafb;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98%;
    border-radius: 3px;
    margin:10px
}

.cards-mortal img{
    width: 98%;
    border-radius: 2px;
    margin: 10px;
}
